@media (min-width: 800px) {
  #results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0px;
    width: 70vw;
    height: 50vw;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    color: red;
  }
}

@media (max-width: 799px) {
  #weatherBox {
    width: 25vw;
    height: 45vw;
    font-size: 2vw;
  }

  #results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0px;
    width: 55vw;
    height: 50vw;
    margin: auto;
    overflow-y: auto;
    overflow-x: auto;
    color: red;
  }
}

body {
  background-color: lightblue;
  color: white;
  text-align: center;
  margin: 0px;
  font-family: "Julius Sans One", cursive;
}

#cityName {
  width: 250px;
  border-radius: 5px;
}

#longitudeLatitude {
  width: 250px;
  border-radius: 5px;
}

#weatherBoxName {
  color: black;
}

#zipCode {
  border-radius: 5px;
  width: 250px;
}

button {
  border-radius: 5px;
  margin-left: 2vw;
  background: black;
  color: wheat;
}
